body {font-family: 'Ubuntu Mono', monospace;}

.pageTitleContainer {
    text-align: -webkit-center;
    background-size: cover !important;
    background: linear-gradient(30deg, #FFEE92 0%, #FF4040 100%);
    min-height: 100vh;
}
.title{
    text-align: inherit;
    animation: entranceRight 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.openParagraph{
    text-align: inherit;
    animation: entraceLeft 1s cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes entranceRight {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes entraceLeft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}